body {
  margin: 0;
  font-family: 'Helvetica','Arial','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'sans-serif;
}

.container {
  margin: 0 10px;
}

.title {
  font-size: 2rem;
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  background-size: cover;
  background-color: #FFC7AF;
}

.day-of-the-week {
  padding: 20px 20px 0 20px;
  display: flex;
  justify-content: space-around;
  border-bottom: 3px solid #FFC7AF;
  margin: 0;
}

.day {
  cursor: pointer;
  font-weight: 600;
  list-style: none;
  user-select: none;
}

.day:hover {
  text-decoration: underline;
}

.selectday {
  font-size: 1.6rem;
}

[data-id="sut"] {
  color: #136FFF;
}

[data-id="sun"] {
  color: #FF0461;
}

main {
  height: 300px;
  overflow: scroll;
  margin-top: 10px;
}

main > .content {
  display: none;
  height: 300px;
  overflow: scroll;
}

main > .content.active {
  display: block;
}

.todo {
  font-size: 20px;
  padding: 5px 15px;
  border: 2px solid #FFC7AF;
  margin-bottom: 1px;
  cursor: pointer;
  user-select: none;
}

.already {
  opacity: 0.2;
}

.submit {
  display: flex;
  margin: 20px 0;
}

input[type="text"] {
  width: 80%;
  padding: 5px;
  font-size: 15px;
  border: 3px solid #FFC7AF;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
  display: none;
}

input[type="text"]:focus {
  outline: 0;
}

button {
  width: 20%;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  height: 36px;
  background-color: #FFC7AF;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  user-select: none;
  display: none;
}

button:hover {
  opacity: 0.7;
}

button:focus {
  outline: 0;
}

.control {
  display: flex;
  justify-content: space-around;
}

.btn {
  background-color: #FFC7AF;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  cursor: pointer;
}

.btn:hover {
  position: relative;
  top: 2px;
  opacity: 0.8;
}

.btn i {
  color: #fff;
  font-size: 25px;
  display: flex;
  justify-content: center;
  line-height: 50px;
}

.percent {
  color: #fff;
  text-align: center;
  margin: 0 auto;
  font-size: 24px;
  line-height: 50px;
  font-weight: 900;
  user-select: none;
}
